body,
html {
    height: 100%;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 auto;
}

td,
tr {
    background-color: rgba(68, 68, 68, 1);
    text-align: center;
    color: white;
    border: solid white 1px;
    border-radius: 5px;
    width: 60px;
    height: 60px;
}

table.tablica {
    background-color: rgba(68, 68, 68, 1);
}